<div *ngIf="project | async as project"> 
  <h2>Edit {{project.title}} Project</h2>
  <form (submit)="onRegisterSubmit()" action="" >
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class ="form-control" [(ngModel)]="project.title"  name="title"  >
    </div>
    <div class="form-group">
      <label for="">Image Url</label>
      <input type="text" class="form-control"  [(ngModel)]="project.image" name="image" >
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <input type="text" class="form-control"  [(ngModel)]="project.description" name="description" >
    </div>
    <input type="submit" class="btn " value="Submit">
  </form>
</div>